@import '../../theme/mixture.scss';
@import '../../theme/variable.scss';

.Test1 {
    text-align: center;
}

.button {
    @include button($color1);
}

.container {
    text-align: center;
    display: inline-block;
    width: 400px;

    .block {
        background-color: $color1;
        height: 53px;
        position: absolute;
    }

    h1 {
        margin: 0;
        display: inline-block;
        color: $color1;
    }
}